<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- This page CSS -->
    <!-- Custom CSS -->
    <link href="/cryptocurrency/dist/css/style.min.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <link href="../assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <link href="/cryptocurrency/dist/css/pages/dashboard1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elite admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <div th:include="/general/fragment::topbar"></div>
        <div th:include="/general/fragment::leftbar"></div>
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid m-t-10" style="width:90%">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor" th:text="#{welcome}"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 1</li>
                            </ol>
                            <button type="button" class="btn btn-dark d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Basic information -->
                <!-- ============================================================== -->
                <div class ="card-group">
                    <div class="card text-center">
                        <div class="card-header bg-success">
                        <h4 class="m-b-0 text-white" th:text="#{block_num}"></h4>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header bg-info">
                        <h4 class="m-b-0 text-white" th:text="#{Total_tx}"></h4>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header bg-danger">
                            <h4 class="m-b-0 text-white" th:text="#{EOSprice}"></h4>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header bg-purple">
                            <h4 class="m-b-0 text-white" th:text="#{EOS_market}"></h4>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                        </div>
                    </div>

                <div class="card text-center">
                    <div class="card-header bg-success">
                        <h4 class="m-b-0 text-white" th:text="#{Totalsupply}"></h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                    </div>
                </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Basic information -->
                <!-- ============================================================== -->

                <div class="card-group">
                    <div class="card bg-primary m-r-5 text-center">
                        <div class="card-body">
                            <h4 class="text-light font-medium"><span th:text="#{block_num}"></span><i class="fa fa-angle-up font-bold"></i></h4>
                            <h4 class="m-t-0 text-light font-medium">4975634</h4>
                        </div>
                    </div>
                    <div class="card bg-purple m-r-5">
                        <div class="card-body">
                            <h5 class="text-light font-medium m-t-10">Avg Value Transfered <i class="fa fa-angle-down font-bold"></i></h5>
                            <h3 class="m-t-0 text-light font-medium">6153</h3>
                        </div>
                    </div>
                    <div class="card bg-info m-r-5">
                        <div class="card-body">
                            <h5 class="text-light font-medium m-t-10">View Last Transactions <i class="fa fa-angle-up font-bold"></i></h5>
                            <h3 class="m-t-0 text-light font-medium">215.8</h3>
                        </div>
                    </div>
                    <div class="card bg-dark m-r-5">
                        <div class="card-body">
                            <h5 class="text-light font-medium m-t-10">Total Fees <i class="fa fa-angle-down font-bold"></i></h5>
                            <h3 class="m-t-0 text-light font-medium">2505.96</h3>
                        </div>
                    </div>
                    <div class="card bg-success m-r-5">
                        <div class="card-body">
                            <h5 class="text-light font-medium">Average Gas Price <i class="fa fa-angle-up font-bold"></i></h5>
                            <h3 class="m-t-0 text-light font-medium">4975634</h3>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- selling and bp -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title" th:text="#{bp_list}"></h4>
                                    <button class="btn btn-outline-secondary ml-auto" type="button"><span th:text="#{view_all}"></span>&nbsp;&nbsp;<span class="btn-label"><i class="fa fa-expand"></i></span></button>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table stylish-table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Assigned</th>
                                            <th>Name</th>
                                            <th>Priority</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="width:50px;"><span class="round">S</span></td>
                                            <td>
                                                <h6>Sunil Joshi</h6><small class="text-muted">Web Designer</small></td>
                                            <td>Elite Admin</td>
                                            <td><span class="label label-light-success">Low</span></td>
                                            <td>$3.9K</td>
                                        </tr>
                                        <tr class="active">
                                            <td><span class="round"><img src="../assets/images/users/2.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Andrew</h6><small class="text-muted">Project Manager</small></td>
                                            <td>Real Homes</td>
                                            <td><span class="label label-light-info">Medium</span></td>
                                            <td>$23.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-success">B</span></td>
                                            <td>
                                                <h6>Bhavesh patel</h6><small class="text-muted">Developer</small></td>
                                            <td>MedicalPro Theme</td>
                                            <td><span class="label label-light-danger">High</span></td>
                                            <td>$12.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-primary">N</span></td>
                                            <td>
                                                <h6>Nirav Joshi</h6><small class="text-muted">Frontend Eng</small></td>
                                            <td>Elite Admin</td>
                                            <td><span class="label label-light-success">Low</span></td>
                                            <td>$10.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-warning">M</span></td>
                                            <td>
                                                <h6>Micheal Doe</h6><small class="text-muted">Content Writer</small></td>
                                            <td>Helping Hands</td>
                                            <td><span class="label label-light-danger">High</span></td>
                                            <td>$12.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-danger">N</span></td>
                                            <td>
                                                <h6>Johnathan</h6><small class="text-muted">Graphic</small></td>
                                            <td>Digital Agency</td>
                                            <td><span class="label label-light-danger">High</span></td>
                                            <td>$2.6K</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Projects of the Month</h4>
                                    <select class="custom-select w-25 ml-auto">
                                        <option selected="">January</option>
                                        <option value="1">February</option>
                                        <option value="2">March</option>
                                        <option value="3">April</option>
                                    </select>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table stylish-table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Assigned</th>
                                            <th>Name</th>
                                            <th>Priority</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="width:50px;"><span class="round">S</span></td>
                                            <td>
                                                <h6>Sunil Joshi</h6><small class="text-muted">Web Designer</small></td>
                                            <td>Elite Admin</td>
                                            <td><span class="label label-light-success">Low</span></td>
                                            <td>$3.9K</td>
                                        </tr>
                                        <tr class="active">
                                            <td><span class="round"><img src="../assets/images/users/2.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Andrew</h6><small class="text-muted">Project Manager</small></td>
                                            <td>Real Homes</td>
                                            <td><span class="label label-light-info">Medium</span></td>
                                            <td>$23.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-success">B</span></td>
                                            <td>
                                                <h6>Bhavesh patel</h6><small class="text-muted">Developer</small></td>
                                            <td>MedicalPro Theme</td>
                                            <td><span class="label label-light-danger">High</span></td>
                                            <td>$12.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-primary">N</span></td>
                                            <td>
                                                <h6>Nirav Joshi</h6><small class="text-muted">Frontend Eng</small></td>
                                            <td>Elite Admin</td>
                                            <td><span class="label label-light-success">Low</span></td>
                                            <td>$10.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-warning">M</span></td>
                                            <td>
                                                <h6>Micheal Doe</h6><small class="text-muted">Content Writer</small></td>
                                            <td>Helping Hands</td>
                                            <td><span class="label label-light-danger">High</span></td>
                                            <td>$12.9K</td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-danger">N</span></td>
                                            <td>
                                                <h6>Johnathan</h6><small class="text-muted">Graphic</small></td>
                                            <td>Digital Agency</td>
                                            <td><span class="label label-light-danger">High</span></td>
                                            <td>$2.6K</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- End selling and bp -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Tx records and block records -->
                <!-- ============================================================== -->
<!--                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Top Transactions</h4></div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Transaction Hash</th>
                                        <th>CURRENCY</th>
                                        <th>STATUS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc BTC text-dark font-20" title="BTC"></i><span class="text-muted"> BTC</span></td>
                                        <td><span class="badge badge-success badge-pill">sale</span> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc XRP text-dark font-20" title="XRP"></i><span class="text-muted"> XRP</span></td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc LTC text-dark font-20" title="LTC"></i><span class="text-muted"> LTC</span></td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc DASH text-dark font-20" title="DASH"></i><span class="text-muted"> DASH</span></td>
                                        <td><span class="badge badge-danger badge-pill">tax</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc XRP text-dark font-20" title="XRP"></i><span class="text-muted"> XRP</span></td>
                                        <td><span class="badge badge-info badge-pill">sale</span> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc BTC text-dark font-20" title="BTC"></i><span class="text-muted"> BTC</span></td>
                                        <td><span class="badge badge-success badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc ETH text-dark font-20" title="ETH"></i><span class="text-muted"> ETH</span></td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc DASH text-dark font-20" title="DASH"></i><span class="text-muted"> DASH</span></td>
                                        <td><span class="badge badge-danger badge-pill">tax</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Recent Transactions</h4></div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Transaction Hash</th>
                                        <th>CURRENCY</th>
                                        <th>STATUS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc XRP text-dark font-20" title="XRP"></i><span class="text-muted"> XRP</span></td>
                                        <td><span class="badge badge-info badge-pill">sale</span> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc BTC text-dark font-20" title="BTC"></i><span class="text-muted"> BTC</span></td>
                                        <td><span class="badge badge-success badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc ETH text-dark font-20" title="ETH"></i><span class="text-muted"> ETH</span></td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc DASH text-dark font-20" title="DASH"></i><span class="text-muted"> DASH</span></td>
                                        <td><span class="badge badge-danger badge-pill">tax</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc BTC text-dark font-20" title="BTC"></i><span class="text-muted"> BTC</span></td>
                                        <td><span class="badge badge-success badge-pill">sale</span> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc XRP text-dark font-20" title="XRP"></i><span class="text-muted"> XRP</span></td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc LTC text-dark font-20" title="LTC"></i><span class="text-muted"> LTC</span></td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="text-ellipsis">
                                                <a href="javascript:void(0)">0xd9dd3777b6c776438fd0sdg930dfdsg0283280sdgd000dfsdj0944</a>
                                            </div>
                                        </td>
                                        <td><i class="cc DASH text-dark font-20" title="DASH"></i><span class="text-muted"> DASH</span></td>
                                        <td><span class="badge badge-danger badge-pill">tax</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- ============================================================== -->
                <!-- End Tx records and block records -->
                <!-- ============================================================== -->



                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme working">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
                <!-- ============================================================== -->
                <!-- End selling and bp -->
                <!-- ============================================================== -->



                <!-- ============================================================== -->
                <!-- selling and bp -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- First 6 columns -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Top Transaction</h5>
                                        <h6 class="card-subtitle">Check the monthly sales </h6>
                                    </div>
                                    <div class="ml-auto">
                                        <select class="custom-select b-0">
                                            <option>January</option>
                                            <option value="1">February</option>
                                            <option value="2" selected="">March</option>
                                            <option value="3">April</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th>CURRENCY</th>
                                        <th>STATUS</th>
                                        <th>DATE</th>
                                        <th>PRICE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center">1001</td>
                                        <td class="txt-oflo">Bitcoin</td>
                                        <td><span class="badge badge-success badge-pill">sale</span> </td>
                                        <td class="txt-oflo">April 18, 2017</td>
                                        <td><span class="text-success">$24</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1002</td>
                                        <td class="txt-oflo">Ripple</td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                        <td class="txt-oflo">April 19, 2017</td>
                                        <td><span class="text-info">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1003</td>
                                        <td class="txt-oflo">Light Coin</td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                        <td class="txt-oflo">April 19, 2017</td>
                                        <td><span class="text-info">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1004</td>
                                        <td class="txt-oflo">Legit Coin</td>
                                        <td><span class="badge badge-danger badge-pill">tax</span></td>
                                        <td class="txt-oflo">April 20, 2017</td>
                                        <td><span class="text-danger">-$24</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1005</td>
                                        <td class="txt-oflo">Ripple</td>
                                        <td><span class="badge badge-success badge-pill">sale</span></td>
                                        <td class="txt-oflo">April 21, 2017</td>
                                        <td><span class="text-success">$24</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1006</td>
                                        <td class="txt-oflo">Bitcoin</td>
                                        <td><span class="badge badge-success badge-pill">sale</span> </td>
                                        <td class="txt-oflo">April 23, 2017</td>
                                        <td><span class="text-danger">-$14</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1007</td>
                                        <td class="txt-oflo">Ripple</td>
                                        <td><span class="badge badge-warning badge-pill">member</span></td>
                                        <td class="txt-oflo">April 22, 2017</td>
                                        <td><span class="text-success">$64</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1008</td>
                                        <td class="txt-oflo">Ethereum</td>
                                        <td><span class="badge badge-warning badge-pill">member</span></td>
                                        <td class="txt-oflo">April 22, 2017</td>
                                        <td><span class="text-success">$64</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1009</td>
                                        <td class="txt-oflo">Light Coin</td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                        <td class="txt-oflo">April 19, 2017</td>
                                        <td><span class="text-info">$1250</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- second 6 columns -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Recent Transaction</h5>
                                        <h6 class="card-subtitle">Check the monthly sales </h6>
                                    </div>
                                    <div class="ml-auto">
                                        <select class="custom-select b-0">
                                            <option>January</option>
                                            <option value="1">February</option>
                                            <option value="2" selected="">March</option>
                                            <option value="3">April</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th>CURRENCY</th>
                                        <th>STATUS</th>
                                        <th>DATE</th>
                                        <th>PRICE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center">2001</td>
                                        <td class="txt-oflo">Ripple</td>
                                        <td><span class="badge badge-info badge-pill">sale</span> </td>
                                        <td class="txt-oflo">April 18, 2017</td>
                                        <td><span class="text-info">$24</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2002</td>
                                        <td class="txt-oflo">Bitcoin</td>
                                        <td><span class="badge badge-success badge-pill">extended</span></td>
                                        <td class="txt-oflo">April 19, 2017</td>
                                        <td><span class="text-success">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2003</td>
                                        <td class="txt-oflo">Ethereum</td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                        <td class="txt-oflo">April 19, 2017</td>
                                        <td><span class="text-info">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2004</td>
                                        <td class="txt-oflo">Legit Coin</td>
                                        <td><span class="badge badge-danger badge-pill">tax</span></td>
                                        <td class="txt-oflo">April 20, 2017</td>
                                        <td><span class="text-danger">-$24</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2005</td>
                                        <td class="txt-oflo">Light Coin</td>
                                        <td><span class="badge badge-success badge-pill">sale</span></td>
                                        <td class="txt-oflo">April 21, 2017</td>
                                        <td><span class="text-success">$24</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2006</td>
                                        <td class="txt-oflo">Ripple</td>
                                        <td><span class="badge badge-warning badge-pill">sale</span> </td>
                                        <td class="txt-oflo">April 23, 2017</td>
                                        <td><span class="text-warning">-$14</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2007</td>
                                        <td class="txt-oflo">Bitcoin</td>
                                        <td><span class="badge badge-info badge-pill">member</span></td>
                                        <td class="txt-oflo">April 22, 2017</td>
                                        <td><span class="text-info">$64</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2008</td>
                                        <td class="txt-oflo">Ripple</td>
                                        <td><span class="badge badge-warning badge-pill">member</span></td>
                                        <td class="txt-oflo">April 22, 2017</td>
                                        <td><span class="text-success">$64</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2009</td>
                                        <td class="txt-oflo">Light Coin</td>
                                        <td><span class="badge badge-info badge-pill">extended</span></td>
                                        <td class="txt-oflo">April 19, 2017</td>
                                        <td><span class="text-info">$1250</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End selling and bp -->
                <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->

    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div th:replace="/general/fragment::footer"></div>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="../assets/node_modules/popper/popper.min.js"></script>
    <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/cryptocurrency/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="/cryptocurrency/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/cryptocurrency/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/cryptocurrency/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="../assets/node_modules/raphael/raphael-min.js"></script>
    <script src="../assets/node_modules/morrisjs/morris.min.js"></script>
    <script src="../assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Popup message jquery -->
    <script src="../assets/node_modules/d3/d3.min.js"></script>
    <script src="../assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="/cryptocurrency/dist/js/dashboard1.js"></script>
    <!-- datatable -->
    <script src="../assets/node_modules/datatables/jquery.dataTables.min.js"></script>
    <!-- Tickers -->
    <script src="/cryptocurrency/dist/js/jquery.webticker.min.js"></script>
    <script src="/cryptocurrency/dist/js/fastclick.js"></script>
    <script src="/cryptocurrency/dist/js/web-ticker.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#cc-table').DataTable({
            "displayLength": 10
        });
        $("#live").perfectScrollbar();
        $("#task1").perfectScrollbar();
        $("#task2").perfectScrollbar();
        $("#task3").perfectScrollbar();
    });
    </script>
</body>

</html>