<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="buaa.eos.mapper.AccountMapper" >
  <resultMap id="BaseResultMap" type="buaa.eos.model.Account" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="head_block_num" property="headBlockNum" jdbcType="INTEGER" />
    <result column="head_block_time" property="headBlockTime" jdbcType="VARCHAR" />
    <result column="privileged" property="privileged" jdbcType="VARCHAR" />
    <result column="last_code_update" property="lastCodeUpdate" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="VARCHAR" />
    <result column="ram_quota" property="ramQuota" jdbcType="REAL" />
    <result column="net_weight" property="netWeight" jdbcType="REAL" />
    <result column="cpu_weight" property="cpuWeight" jdbcType="REAL" />
    <result column="net_used" property="netUsed" jdbcType="REAL" />
    <result column="net_available" property="netAvailable" jdbcType="REAL" />
    <result column="net_max" property="netMax" jdbcType="REAL" />
    <result column="cpu_used" property="cpuUsed" jdbcType="REAL" />
    <result column="cpu_available" property="cpuAvailable" jdbcType="REAL" />
    <result column="cpu_max" property="cpuMax" jdbcType="REAL" />
    <result column="ram_usage" property="ramUsage" jdbcType="REAL" />
    <result column="self_del_from" property="selfDelFrom" jdbcType="VARCHAR" />
    <result column="self_del_to" property="selfDelTo" jdbcType="VARCHAR" />
    <result column="self_del_net" property="selfDelNet" jdbcType="REAL" />
    <result column="self_del_cpu" property="selfDelCpu" jdbcType="REAL" />
    <result column="refund_request" property="refundRequest" jdbcType="VARCHAR" />
  </resultMap>
</mapper>