<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="buaa.eos.mapper.VoteInfoMapper" >
  <resultMap id="BaseResultMap" type="buaa.eos.model.VoteInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="proxy" property="proxy" jdbcType="VARCHAR" />
    <result column="producers" property="producers" jdbcType="CHAR" />
    <result column="staked" property="staked" jdbcType="BIGINT" />
    <result column="last_vote_weight" property="last_vote_weight" jdbcType="VARCHAR" />
    <result column="proxied_vote_weight" property="proxied_vote_weight" jdbcType="VARCHAR" />
    <result column="is_proxy" property="is_proxy" jdbcType="INTEGER" />
    <result column="owner_id" property="owner_id" jdbcType="INTEGER" />
  </resultMap>
</mapper>